*{
    @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;400;500;600;700 & display=swap');
	padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
}
body{
    overflow: hidden;
	background: #0b9e97;
	background-size: cover;
}

.texto-cabeza h1{
    background-color: aliceblue;
    

.texto-cabeza h2{
    background-color: aliceblue;
}   

}